.itemCard {
  width: 200px;
  padding: 10px;
  border: 1px solid grey;
  background-color: lightgrey;

  & img {
    width: 100px;
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  .itemCard {
    width: 90%;
  }
}
