.container {
  width: 100vw;
  max-width: 700px;
  height: 80vh;
  display: grid;
  place-items: center;
  overflow-y: scroll;
}

.container--loading {
  background-color: lightblue;
}

.container--error {
  background-color: salmon;
}
